# Intellij project files
*.iml
*.ipr
*.iws
.idea/
.idea/**/*
/.idea/workspace.xml
/.idea/libraries
.DS_Store

# Gradle
/build
.gradle
gradle.properties
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# App builds
app/build/outputs/apk
app/app-release.apk

# Local configuration file (sdk path, etc)
local.properties

# Fabric plugin
fabric.properties
