---
---

@import "{{ site.theme }}";

body{
    padding:0;
    margin:0;
}
a{
    color: #449b5e;
    &:hover{ color: #39804e; }
}
header{
    background: #eaf3de;
    margin-left: -50px;
}
header,section,footer{
    padding:40px;
}
@media print, screen and (max-width: 480px){
    header,section,footer{
        padding:15px;
    }
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}
@media print, screen and (max-width: 960px){
    div.wrapper {
        width: auto;
        margin: 0;
    }
    header{
       margin-left: auto;
    }
}