<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jjoseba.pecsmobile"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.PECSMobile"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.CardsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShowCardsActivity"
            android:label="@string/title_activity_show_cards"
            android:parentActivityName=".activity.CardsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jjoseba.pecsmobile.activity.CardsActivity"/>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity
            android:name=".activity.PrefsActivity"
            android:icon="@mipmap/ic_settings"
            android:label="@string/config_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShowTextActivity"
            android:label="@string/title_activity_show_text"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity android:name=".activity.CardFormActivity"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="landscape"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>
