<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.jjoseba.pecsmobile"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.PECSMobile"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.CardsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShowCardsActivity"
            android:label="@string/title_activity_show_cards"
            android:parentActivityName=".activity.CardsActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jjoseba.pecsmobile.activity.CardsActivity"/>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity
            android:icon="@drawable/ic_prefs"
            android:name=".activity.PrefsActivity"
            android:label="@string/config_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
